---
import C64Layout from '../layouts/C64Layout.astro';
---

<C64Layout title="About">
  <section>
    <h1>About</h1>

    <article>
      <p>
        I’m a junior at William & Mary. My main interests are in monetary economics, particularly how Federal Reserve
        policy flows through financial markets to shape company outcomes and rate-sensitive sectors.
        This site is primarily for my own self-development, but I hope you find the writing educational and interesting.
      </p>

      <p>
        In 2026, I’ve committed to publishing two posts each week: one review of a scholarly article, and one commentary
        piece on a topic of my choosing.

      </p>
      <p>
        Feel free to reach out:
        <a href="mailto:gbeck27@outlook.com">gbeck27@outlook.com</a>
      </p>
    </article>
  </section>
</C64Layout>
