---
import C64Layout from '../layouts/C64Layout.astro';
---

<C64Layout title="About">
  <section>
    <h1>About</h1>

    <article>
      <p>
        My primary interests lie in monetary economics, housing markets, and the transmission of policy through financial markets and asset prices.
      </p>

      <p>

      </p>
      <p>
        Feel free to reach out:
        <a href="mailto:gbeck27@outlook.com">gbeck27@outlook.com</a>
        If you prefer to read on Substack: <a href="https://substack.com/@relaxedconstraints/notes" target="_blank" rel="noopener noreferrer">Substack</a>
      </p>
    </article>
  </section>
</C64Layout>
