---
import C64Layout from '../layouts/C64Layout.astro';
import Terminal from '../components/Terminal.astro';
---

<C64Layout title="Home - Relaxed Constraints">
  <p>
    In economics, we often alter or ignore certain constraints temporarily to help us reach understanding 
    before reintroducing complexity. Using this same principle, I hope to provide my readers with engaging 
    content that provides clarity without sacrificing substance.
  </p>
  
  
  <Terminal />
</C64Layout>

